.cover-wrapper {
    margin: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://i.gojekapi.com/darkroom/gofood-id/v2/images/uploads/e5070ade-5908-44ab-a004-121594e736d8_hero.jpg?h=306");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 145px 0px;
    align-items: center;
    display: flex;
    flex-flow: column;
}

.cover-wrapper h2 {
    font-family: "maisonNeueBook", "Arial", "Helvetica", sans-serif;
    display: block;
    color: white;
    line-height: 1.19;
    font-size: 2rem;
    opacity: 0.9;
    letter-spacing: 1.2px;
    width: fit-content;
    align-items: center;
    font-weight: bold;
    margin: 0 0 24px 0;
}

.cover-wrapper h5 {
    font-family: "maisonNeueBook", "Arial", "Helvetica", sans-serif;
    color: white;
    font-size: 1.3rem;
    letter-spacing: 0.5px;
    margin: 0 0 24px 0;
}

.cover-wrapper a {
  text-decoration: none;
  background-color: transparent;
}

.cover-wrapper a button {
  font-family: maisonNeueDemi, Arial, Helvetica, sans-serif !important;
  background-color:#29A34E;
  font-weight: bold;
  color: white;
  cursor: pointer;
  border: 1px solid #29A34E;
  border-radius: 5px;
  padding: 10px 24px;
  font-size: 15px;
  outline: none;
  border: none;
  -webkit-transition: all 1s ease;
}


.cover-wrapper a button:hover {
  background-color:#1f7a3b;
  -webkit-transition: all 1s ease;
}