.navbar{
  position: fixed;
  z-index: 999;
  margin: 0;
  width: 100%;
  height: 64px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 30px 40px;
  font-family: "maisonNeueBook", "Arial", "Helvetica", sans-serif;
  line-height: 1.5;
  font-size: 16px;
  top: 0;
  /* box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5); */
}

.navbar-scrolled {
  top: 0;
  left: 0;
  box-shadow: 0 1px 1px #f0f0f0;
  animation: moveDown 0.5s ease-in-out;
}

.logo img{
  height: 1.5rem;
  cursor: pointer;
  vertical-align: middle;
  border-style: none;
}

.navigation {
  align-items: center;
  vertical-align: middle;
  display: flex;
}

.navigation p {
  font-family: maisonNeueDemi, Arial, Helvetica, sans-serif !important;
  font-weight: bold;
  margin-right: 25px;
}

.navigation a {
  text-decoration: none;
  background-color: transparent;
}

.navigation a button {
  font-family: maisonNeueDemi, Arial, Helvetica, sans-serif !important;
  background-color:#29A34E;
  font-weight: bold;
  color: white;
  cursor: pointer;
  border: 1px solid #29A34E;
  border-radius: 5px;
  padding: 6.5px 10px;
  font-size: 15px;
  outline: none;
  border: none;
  -webkit-transition: all 1s ease;
}


.navigation a button:hover {
  background-color:#1f7a3b;
  -webkit-transition: all 1s ease;
}